[submodule "backend"]
	path = backend
	url = https://github.com/isaacbatst/pelada-manager-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/YuriAlessandro/peladaManager.git
